[run]
branch = True
source =
    pico_data_redis
omit =
    */_version.py

[paths]
pico_data_redis =
    src/pico_data_redis
    .tox/*/lib/*/site-packages/pico_data_redis
    .tox/*/site-packages/pico_data_redis
    */site-packages/pico_data_redis

[report]
show_missing = True
omit =
    */_version.py
